.Header {
  padding: 5px 5px;
  background-color:rgba(0, 0, 0, 0.788);
  color: #f1f1f1;
}

.contentNav {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .contentNav {
  padding-top: 102px;
}